.kidBtn{
  font-size: 20px;
  padding: 15px 20px;
  border: 3px #31C3EE solid;
  text-decoration: none;
  background-color: rgb(00,00,66);
  color: whitesmoke;
  border-radius: 15px;
  box-shadow: 4px 4px 5px black;
  width: fit-content;
  margin: 1em auto 0 auto;
  text-transform: capitalize;
  transition: all, .5s;
}

.kidBtn:hover{
  text-decoration: none;
  background-color: whitesmoke;
  box-shadow: none;
  color: #000066;
  transition: all, .5s;
}

.kidArea{
  min-height: 200px;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
}

.number, .number2{
  width: 50px;
  height: 50px;
  border: 1px black solid;
  background-color: rgb(00, 00, 66);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number:active, .number2:active{
  transform: scale(0.9);
}

.subTitle{
  font-family: 'Raleway', sans-serif;
}

.welcome{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.bor{
  border-top: 3px whitesmoke solid;
  padding-top: 1em;
}

.display{
  height: 33.6px;
  background-color: white;
  color: #000066;
  width: 156px;
  margin: 1em auto;
  border: .5px black solid;
}

.numberInput{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  width: fit-content;
  margin: auto;
  grid-gap: 3px;
}

.main{
  margin-top: 2em;
  background-color: #007FBA;
  color: whitesmoke;
  padding: 10px;
  border: 3px #000066 solid;
}

.sendPin{
  margin-top: 1em;
  background-color: whitesmoke;
  color: #000066;
  transition: all, .5s;
}

.sendPin:hover{
  background-color: whitesmoke;
  color: #000066;
  transform: scale(0.9);
  transition: all, .5s;
}

.pushDown{
  margin-top: 1em;
}