<head>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="../assets/styles/landing.css">
  <script src="../assets/js/landing.js"></script>
</head>

<header>
  <div class="nav1">
    <img src="../assets/images/logo_transparent.png" alt="">
    <h1>Blueprinting the Future</h1>
  </div>
  <nav>

    <div class="atag logShow" data-show="formLogin" data-hide="formSignup">Login</div>
    <div class="atag signShow" data-show="formSignup" data-hide="formLogin">Sign Up</div>
  </nav>

</header>


<div class="formArea">
  <div id="formLogin" class="form">
    <div class="formGroup">
      <label for="name">User Name:</label><br>
      <input type="text" name="" id="userLogin"><br>
    </div>
    <div class="formGroup">
      <label for="name">Password:</label><br>
      <input type="text" name="" id="passLogin"><br>
    </div>
    <button class="login btn">Login</button><br>
  </div>
  <div id="formSignup" class="form">
    <div class="formGroup">
      <label for="name">Name:</label><br>
      <input type="text" name="" id="nameSign"><br>
    </div>
    <div class="formGroup">
      <label for="name">User Name:</label><br>
      <input type="text" name="" id="userSign"><br>
    </div>
    <div class="formGroup">
      <label for="name">Password:</label><br>
      <input type="text" name="" id="passSign"><br>
    </div>
    <div class="formGroup">
      <label for="name">Pin:</label><br>
      <input type="text" name="" id="pinSign"><br>
    </div>
    <button class="signup btn">Sign Up</button><br>
  </div>
</div>

<br>
<div class="jumbotron jumbotron-fluid" id="jumbo">
  <div class="container">
    <h1 class="display-4">Schools teach our children geography, math and science. Why are we not teaching them about
      finance?</h1>
    <div class="container" id="fact">
      <p class="lead">Fact: Only 24 percent of millennials demonstrate basic financial literacy, according to a study
        from the National Endowment for Financial Education.<br>
        The scary part is, 69% rated themselves with high levels of financial literacy</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">

    <div class="col-6 col-6-sm">
      <div class="card" style="width: 25rem;">

        <div class="card-body">
          <p class="card-text">Introducing Building Blocks; The easy way to start teaching your children<br> -The
            importance of saving <br> -How to invest<br> -How credit works<br>-How to buy a home and much more</p><br>
          <p id="p1">We help build communication between you and your child about their financial futures</p>

        </div>
      </div>

    </div>



    <div class="col-6 col-6-sm">

      <div class="row" id="collage1">
        <div class="col-sm-6">
          <img src="assets/images/money.jpeg" height="200">
          <img src="assets/images/cards.jpeg" height="200">

        </div>


        <div class="col-sm-6">
          <img src="assets/images/save.jpeg" height="200">
          <img src="assets/images/keys.jpeg" height="200">

        </div>

      </div>

    </div>


  </div>
</div>
</body>
<br>
<hr class="line">
<footer>

  <div class="card">

    <div class="card-img-overlay">
      <h6 class="card-title">Building Blocks</h6>
      <h6 class="card-text">Developers:
        Michael
        Angela
        Jorge
        Kyle
      </h6>
      <br>
      <h6 class="card-text">Created 2019</h6>
    </div>
  </div>
</footer>