<head>
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link rel="stylesheet" href="../assets/styles/landing.css">
    <script src="../assets/js/landing.js"></script>
</head>

<header>
    <img src="../assets/images/logo_transparent.png" alt="">
    <h1>Blueprinting the Future</h1>
    <nav>
        <div class="atag logShow" data-show="formLogin" data-hide="formSignup">Login</div>
        <div class="atag signShow" data-show="formSignup" data-hide="formLogin">Sign Up</div>
    </nav>
</header>

<div class="formArea">
    <div id="formLogin" class="form">
        <div class="formGroup">
            <label for="name">User Name:</label><br>
            <input type="text" name="" id="userLogin"><br>
        </div>
        <div class="formGroup">
            <label for="name">Password:</label><br>
            <input type="text" name="" id="passLogin"><br>
        </div>
        <button class="login btn">Login</button><br>
    </div>
    <div id="formSignup" class="form">
        <div class="formGroup">
            <label for="name">Name:</label><br>
            <input type="text" name="" id="nameSign"><br>
        </div>
        <div class="formGroup">
            <label for="name">User Name:</label><br>
            <input type="text" name="" id="userSign"><br>
        </div>
        <div class="formGroup">
            <label for="name">Password:</label><br>
            <input type="text" name="" id="passSign"><br>
        </div>
        <div class="formGroup">
            <label for="name">Pin:</label><br>
            <input type="text" name="" id="pinSign"><br>
        </div>
        <button class="signup btn">Sign Up</button><br>
    </div>
</div>