<div class="container">
    <div class="form">
        <div class="formGroup">
            <label for="name">User Name:</label>
            <input type="text" name="" id="userLogin">
        </div>
        <div class="formGroup">
            <label for="name">Password:</label>
            <input type="text" name="" id="passLogin">
        </div>
        <button class="login btn">Login</button><br>
        <a href="/signup">Sign Up Page</a>
    </div>
</div>